* {
    margin: 0;
    padding: 0;
    font-family: 'myFont';
}


@font-face {
    font-family: 'myFont';
    src: url(img/Alcubierre.otf);
}

body {
    /* overflow: hidden; */
    background: #202a32;
}

.wrapper {
    display: flex;
    position: relative;
    height: 400px;
    width: 700px;
    margin: 0 auto;
    background: url(img/gwiazdy.png);
    background-size: contain;
    
    
    background-position: 0 100%;
    border-radius: 20%;
   
}

.player {
    align-self: flex-end;
    position: absolute;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 50px;
    background: url(img/7.png) no-repeat center;
    background-size: contain;
    width: 50px;
    /* animation: invincible 1s infinite; */
}

.meteor {
    height: 50px;
    width: 50px;
    align-self: flex-start;
    background: url(img/aestroid_dark.png) no-repeat center;
    background-size: contain;
    position: absolute;
}

.bullet {
    height: 50px;
    width: 50px;
    background: url(img/bullet_red.png);
    background-size: contain;
    position: absolute;
}


.panel {
    width: 1036px;
    height: 300px;
    background: url(img/panel.jpg) no-repeat center;
    background-size: cover;
    background-position: 0 -800px;
    border-radius: 50px 50px 0 0;
    display: flex;
    position: relative;
    /* position: absolute; */
    z-index: 1000;
    margin: 0 auto;
}

.score {
    width: 150px;
    height: 50px;
    background: cyan;
    margin-right: 70px;
    margin-left: 435px;
    margin-top: 7px;
    text-align: center;
    color: #DD0048;
    font-size: 35px;
    padding: 10px;
}

.health {
    width: 70px;
    height: 10px;
    background: greenyellow;
    margin-right: 295px;
    margin-top: 8px;
    display: flex;
}

.heart {
    height: 100%;
    /* flex: 1 1 0; */
    width: 20%;
    background: red;
}

.lost {
    width: 500px;
    height: 300px;
    position: absolute;
    /* margin: 0 auto; */
    font-size: 150px;
    color: red;
}

.instructions {
    height: 136px;
    width: 518px;
    align-self: flex-end;
    left: 259px;
    top: 100px;
    background: #B6FF00;
    position: absolute;
    /* background: #202a32; */
}

.instructions:hover {
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

@keyframes invincible {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

    
}

@keyframes neon4 {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
  }
  