* {
    margin: 0;
    padding: 0;
    font-family: 'myFont';
}


@font-face {
    font-family: 'myFont';
    src: url(img/Alcubierre.otf);
}

body {
    /* overflow: hidden; */
    background: #202a32;
}

.wrapper {
    display: flex;
    position: relative;
    height: 400px;
    width: 700px;
    margin: 0 auto;
    background: url(img/gwiazdy.png);
    background-size: contain;
    
    
    background-position: 0 100%;
    border-radius: 20%;
   
}

.player {
    align-self: flex-end;
    position: absolute;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 50px;
    background: url(img/7.png) no-repeat center;
    background-size: contain;
    width: 50px;
    /* animation: invincible 1s infinite; */
}

.meteor {
    height: 50px;
    width: 50px;
    align-self: flex-start;
    background: url(img/aestroid_dark.png) no-repeat center;
    background-size: contain;
    position: absolute;
}

.bullet {
    height: 50px;
    width: 50px;
    background: url(img/bullet_red.png);
    background-size: contain;
    position: absolute;
}


.panel {
    width: 1036px;
    height: 300px;
    background: url(img/panel.jpg) no-repeat center;
    background-size: cover;
    background-position: 0 -800px;
    border-radius: 50px 50px 0 0;
    display: flex;
    position: absolute;
    z-index: 1000;
}

.score {
    width: 150px;
    height: 50px;
    background: cyan;
    margin-right: 70px;
    margin-left: 435px;
    margin-top: 7px;
    text-align: center;
    color: #DD0048;
    font-size: 35px;
    padding: 10px;
}

.health {
    width: 70px;
    height: 10px;
    background: greenyellow;
    margin-right: 295px;
    margin-top: 8px;
    display: flex;
}

.heart {
    height: 100%;
    /* flex: 1 1 0; */
    width: 20%;
    background: red;
}

.lost {
    width: 500px;
    height: 300px;
    position: absolute;
    /* margin: 0 auto; */
    font-size: 150px;
    color: red;
}


@keyframes invincible {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

    
}