* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.wrapper {
    display: flex;
    position: relative;
    height: 100vh;
    width: 960px;
    margin: 0 auto;
    background: #333;
}

.player {
    align-self: flex-end;
    position: absolute;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 50px;
    width: 50px;
    background: white;
}

.meteor {
    height: 50px;
    width: 50px;
    align-self: flex-start;
    background: black;
}