* {
    padding: 0px;
    margin: 0px;
    font-family: 'myFont';
}

@font-face {
    font-family: 'myFont';
    src: url(img/Alcubierre.otf);
}

#nav ul {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex: 1 1 0;
    justify-content: flex-start;

    
}




#nav {
    align-content: center;
    display: flex;
    width: 100%;
    height: 17vh;
    /* position: absolute;
    */
    background: #3cc47c;
    
    
    /* justify-content: flex-start; */
    
}

.fixed-nav {
    position: fixed;
  top:0;
  z-index: 1;
}

#nav a {
    display: block;
    opacity: 1;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    color: #222;
    
}


.wrapper {
    width: 100%;
    background: #1e392a;
    height: 3000px;
    background-size: cover;
    
    
}

.header {
    display: flex;
    height: 100vh;
    width: 100%;
    /* border-radius: 100px; */
    flex-wrap: wrap;
    background: url(img/smoke.jpg) no-repeat center;
    background-size: cover;
    
}

.header div {
    padding: 10px;
    width: 100%;
    height: 100px;
    color: #222;
    font-size: 60px;
    text-align: end;
    /* font-weight: bold; */
    text-transform: uppercase;
    margin-top: 40px;
    opacity: 0.7;
}

.aboutMe {
    margin-top: 200px;
    width: 100%;
    height: 400px;
    background: #e9c893;
    opacity: 0;
    transition: all 2s ease-in;
}

.aboutMe div{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    
}

