* {
    padding: 0;
    margin: 0;
    font-family: 'myFont'
}

@font-face {
    font-family: 'myFont';
    src: url(img/Alcubierre.otf);
}

body {
    overflow: hidden;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background: url(img/jeremy-perkins-390608-unsplash.jpg) no-repeat  center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    
}

.button {
    height: 60px;
    width: 100px;
    color: black;
    padding-top: 40px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    /* display: flex; */
    align-self: center;
    margin: 0 auto;
    margin-top: 30vh;
    background: antiquewhite;
    border-radius: 50%;
    transition: all 2s ease-in-out;
}

/* .container{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-grow: 1;
    align-self: center;
    margin-top: 30vh;
    justify-content: center;
    transition: all 2s ease-in-out;
    
} */

.navigation{
    width: 100vw;
    height: 100px;
    display: flex;
    align-self: flex-end;
    flex-grow: 1;
    justify-content: space-around;
    margin-bottom: -500px;
    transition: all 2s ease-in-out;

}

.navigation div {
    height: 60px;
    width: 100px;
    text-align: center;
    padding-top: 40px;
   cursor: pointer;
    border-radius: 50%;
    /* position:absolute; */
    background: antiquewhite;
}

.navigation div:hover {
    background: black;
    color: antiquewhite;
}

.page1{
    width: 0vw;
    height: 0vh;
    position: absolute;
    background: antiquewhite;
    transition: all 2s ease-in-out;
}

.toggle{
    
    height: 1000px;
        width: 1000px;
    animation: growing 2s;
}

@keyframes growing {
    10% {
        height: 150px;
        width: 150px;
    }

    20% {
        height: 200px;
        width: 200px;
    }

    50% {
        height: 400px;
        width: 400px;
    }

    80% {
        height: 800px;
        width: 800px;
    }

    100% {
        height: 1000px;
        width: 1000px;
    }
}